* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background{
  position: fixed;
  top: 0;
  left:0;
  
}
.hiddenModalErro{
  display: none;
}
.ModalContainerWrong {
  position: fixed;
  top: 0;
  left:0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.5);
  border: 1px solid black;
}

.mensage-wrong-text {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 30vh;
  background-color: var(--modal-wrong-color);

  font-family: "DynaPuff";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #111111;
}

.hidden{
    display: none;
}