@media only screen and (max-width: 1000px) {
  .btn {
    width: 50vw;
}

}
@media only screen and (max-width: 600px) {
  .btn {
    width: 65vw;
}

}
@media only screen and (max-width: 380px) {
  .btn {
    font-size: 8vw;
}

}