* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-groups {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-new-game,
.btn-continue-game {
  all: unset;
  box-sizing: border-box;

  width: 20rem;
  height: 4rem;

  background: #f7f7f7;
  border: 1px solid #dedede;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  margin-top: 1rem;

font-family: 'Chubby Cheeks';
font-style: normal;
font-weight: 400;
font-size: 2rem;
line-height: 15px;
text-align: center;

text-transform: uppercase;

color: #2E2E2E;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btns__Start-game {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-new-game,
.btn-continue-game {
  all: unset;
  box-sizing: border-box;

  width: 204px;
  height: 51px;

  background: #f7f7f7;
  border: 1px solid #dedede;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  margin-top: 1rem;

  font-family: 'Chubby Cheeks';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: #2E2E2E;
  cursor: pointer;
}
