.container-content {
  width: 40vw;
  height: 80vh;
  background-color: var(--primary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.logo {
  width: 70%;
  height: 40%;
  background-image: url(../../assets/images/logo-qual-e-a-letra.png);
  background-repeat: no-repeat;
  background-position: center;
}
