/* @import url("../../styleGlobal.css"); */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jogar {
  width: 40%;
  height: 80%;
  background-color: var(--secondary-color);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.pergunta{
  width: 90%;
  color: #312403;
  font-size: 36px;

  margin-top: 30px;
  width: 447px;

  text-align: center;
}
.image-game {
  width: 50%;
  height: 50%;
  /* background-image: url(../../assets/images/abelha.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  display: flex;
  justify-content: center;
  align-items: center;
}

.jogar-jogo__btn {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-weight: 400;
  margin-bottom: 20px;
}

.btns-quiz {
  width:20%;
  font-size: 32px;
  font-weight: 700;


  background: #f7f7f7;
  border: 1px solid #dedede;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  width: 86px;

}
