@import url('../../styleGlobal.css');

.jogar {
  width: 603px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFAC33;
  flex-wrap: wrap;
  border-radius: 10px;
}

.jogar p {
  color: #312403;
  font-size: 36px;
  margin-top: 30px;
  width: 447px;
  text-align: center;
}

.jogar-jogo__btn {
  display: flex;
  width: 100%;
  font-weight: 400;
}

.jogar-jogo__btn button {
  padding: 2.1rem;
  font-size: 32px;
  font-weight: 700;
  width:86px
}