@import url("../../styleGlobal.css");

.container-end-game {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.group-content {
  width: 603px;
  height: 80%;
  background-color: var(--primary-color);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;

  color: var(--text-screen-color);

  padding: 0 2rem;
}

.img-trofel {
  width: 50%;
  height: 50%;
  background-image: url(../../assets/images/trofel.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.score {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 40px;
  display: flex;
  text-align: center;
}
.btn-play-again {
  all: unset;
  width:350px ;
  height: 10%;
  padding: 25px 10px;
  background-color: var(--success-color);
  border: 1px solid #33c441;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 18px;
  text-align: center;
  color: var(--button-color);
}

.btn-play-again:active {
  border-color: #21bc31;
  background-color: #49e011;
}
