@media only screen and (max-width: 1000px) {
  .container-end-game {
    width: 60vw;
    height: 80vh;
    
}
.btn-play-again{
  width: 50vw;
  font-size: 3vw;
}

.title-end-game{
  width: 100%;
  
}

.text-score {
  font-size: 2rem;
}

}




@media only screen and (max-width: 600px) {
  .container-end-game {
    width: 80vw;
    height: 80vh;

}
.btn-play-again{
  width: 65vw;
  font-size: 5vw;
}

.text-score {
  
  font-size: 5vw;
}

.title-end-game{
  width: 50vw;
  font-size: 6vw;
  
}
}

@media only screen and (max-width: 360px) {
  .title-end-game{
    width: 50vw;
    font-size: 8vw;
    
  }
  .img-trofel {
    width: 70vw;
  }

  .btn-play-again{
    font-size: 5.5vw;
  }
}