.confirm-dialog-container {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0, 0, 0, .5);
 }

.confirm-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
}

.dialog__confirmation {
    padding: 10px;
}

.dialog__message {
    margin: 10px;
    font-size: medium;
    text-align: center;
}

.dialog__btn {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
}

.dialog__btn button {
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btn__confirm {
    background-color: green!important;
    margin-right: 4px;
}

.btn__reject {
     background-color: brown!important;
     margin-left: 4px;
}

@media (max-width: 500px) {
    .confirm-dialog {
      padding: 10px;
      width: 80%;
    }

    span, .dialog__btn button {
        font-size: smaller;
    }
}