* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background{
  background-image: url('../../assets/images/background2\ 12.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ModalContainerRight {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.5);
  border: 1px solid black;

}

.mensage-right-text {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 30vh;
  background-color: rgba(97, 255, 41, 0.7);

  font-family: "Chubby Cheeks";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #111111;
}

/* .hidden{
    display: none;
} */