/* .tela-opcao {
  width: 610px;
  height: 604px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.tela-opcao p {
  color: var(--text-screen-color);
  font-size: 32px;
  margin-top: 1rem;
  width: 447px;
  text-align: center;
}

.tela-opcao-jogo__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}
.tela-opcao-jogo__btn .link {
  text-decoration: none;
  color: var(--button-color);
}

.tela-opcao-jogo__btn button {
  padding: 1.1rem;
  font-size: 32px;
  font-weight: 700;
  margin: 8px 3px;
  width: 443px;
} */
